/* Projects.css */
/* Projects.css */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.hdqwalls.com/download/dubai-city-skycrapper-tv-960x540.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .project-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background color */
  }
  
  /* Rest of the styles... */
  
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .project-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
  }
  
  .project-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project-description {
    margin-bottom: 15px;
  }
  
  .project-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project-link {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  